body {
	margin: 0;
	font-family: Helvetica;
	color: white;
	background-color: red;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container h1 {
	font-weight: lighter;
}
